<nz-divider [nzText]="'lefs/right'" nzOrientation="left"></nz-divider>
<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="6"> 
          <nz-card> <h6>search</h6> <app-view-aleft1></app-view-aleft1> </nz-card> 
      </nz-col>
      <nz-col [nzSpan]="18"> 
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'result'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> <app-view-aright1></app-view-aright1> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>
            <nz-col [nzSpan]="24"> 
                <nz-collapse> 
                    <nz-collapse-panel [nzHeader]="'detail'" [nzActive]="'true'" [nzDisabled]="'false'">
                        <nz-card> <app-view-aright2></app-view-aright2> </nz-card> 
                    </nz-collapse-panel> 
                </nz-collapse>
            </nz-col>

        </nz-row>
      </nz-col>
    </nz-row>
</div>


<!-- <nz-divider [nzText]="'row only'" nzOrientation="left"></nz-divider>
<div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>1</h6> 1 component </nz-card> 
        </nz-col>
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>2</h6> 2 component </nz-card> 
        </nz-col>
        <nz-col [nzSpan]="24"> 
            <nz-card> <h6>3</h6> 3 component </nz-card> 
        </nz-col>
    </nz-row>
</div> -->
