
<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">

        <li nz-menu-item routerLinkActive="ant-menu-item-selected"> <a title routerLink="yguide/dbtable"> <span title><i nz-icon nzType="user"></i>DB Table</span> </a> </li>


        <li nz-menu-item routerLinkActive="ant-menu-item-selected"> <a title routerLink="ztable"> <span title><i nz-icon nzType="user"></i>zTable</span> </a> </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected"> <a title routerLink="zform"> <span title><i nz-icon nzType="laptop"></i>zForm</span> </a> </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected"> <a title routerLink="zpage-header"> <span title><i nz-icon nzType="notification"></i>zPage Header</span> </a> </li>

      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
